@model ProjectManagementSystem.Models.ProjectInfoUsers

@{
    ViewData["Title"] = "AssignResourcePerson";
}
@section Style
    {

    <link href="~/css/bootstrap-select/bootstrap-select.css" asp-append-version="true" rel="stylesheet" />
}
    <h3 style="margin-left:468px;color:#9C27B0">Assign Resource Person</h3>


<div class="row">
    <div class="col-md-4">
        <form asp-action="AssignResourcePerson" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="bootstrap-select fm-cmp-mg ">
                <label asp-for="ApplicationUsersId" class="control-label"></label>
                <select asp-for="ApplicationUsersId" class="selectpicker" asp-items="ViewBag.ApplicationUserId">
                    <option value="">Select A Resource Person</option>
                </select>

            </div>
            <span asp-validation-for="ApplicationUsersId" class="text-danger"></span>
            <div class="bootstrap-select fm-cmp-mg ">
                <label asp-for="ProjectInfoId" class="control-label"></label>
                <select asp-for="ProjectInfoId" class="selectpicker" asp-items="ViewBag.ProjectInfoId">
                    <option value=""> Select A Project</option>
                </select>
               
            </div>
            <span asp-validation-for="ProjectInfoId" class="text-danger"></span>
            <div class="form-example-int mg-t-15">
                <button type="submit" class="btn btn-success notika-btn-success">ASSIGN</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/bootstrap-select/bootstrap-select.js" asp-append-version="true"></script>
}

