@model ProjectManagementSystem.Models.ProjectInfo

@{
    ViewData["Title"] = "EditProject";
}
@section Style
    {

    <link href="~/lib/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet" />
}
<h1>EditProject</h1>

<h4>ProjectInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProject" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodeName" class="control-label"></label>
                <input asp-for="CodeName" class="form-control" />
                <span asp-validation-for="CodeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enddate" class="control-label"></label>
                <input asp-for="Enddate" class="form-control" />
                <span asp-validation-for="Enddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uploadfile"></label>
                <div class="custom-file">
                    <input asp-for="Uploadfile" class="form-control custom-file-input" />
                    <label class="custom-file-label">Upload File</label>
                </div>
                <span asp-validation-for="Uploadfile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status"></label> <br />
                <input type="radio" asp-for="Status" value="Not Started" />Not Started <br />
                <input type="radio" asp-for="Status" value="Started" />Started <br />
                <input type="radio" asp-for="Status" value="Completed" />Completed<br />
                <input type="radio" asp-for="Status" value="Cancelled" />Cancelled<br />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.custom-file-input').on("change",
                function () {
                    var filename = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(filename);
                });


            $("#StartDate,#Enddate").datepicker({
                changeMonth: true,
                changeYear: true,
                firstDay: 1,
                dateFormat: 'dd/mm/yy',
                showButtonPanel: true
            });

            $("#StartDate").datepicker({ dateFormat: 'dd-mm-yy' });
            $("#Enddate").datepicker({ dateFormat: 'dd-mm-yy' });

            $('#StartDate,#Enddate').change(function () {
                var start = $('#StartDate').datepicker('getDate');
                var end = $('#Enddate').datepicker('getDate');

                if (start < end) {
                    var days = (end - start) / 1000 / 60 / 60 / 24;
                    $('#Duration').val(days);
                }
                else {
                    alert("You cant come back before you have been!");

                    $('#Duration').val("");
                }
            });

        });
    </script>
}