@model ProjectManagementSystem.Models.Comment
@inject UserManager<ApplicationUsers> UserManager

@{
    ViewData["Title"] = "AddComment";
}


<h3 style="margin-left:610px;color:#9C27B0">Add Comment</h3>

<form asp-action="AddComment">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input type="hidden" asp-for="DateTime" value="@DateTime.Now" />
            <input type="hidden" asp-for="ApplicationUsersId" value="@UserManager.GetUserId(User)" />
            <div class="form-example-wrap">
                <div class="form-example-int row">
                <div class="form-group  col-xs-4">

                    <div class="nk-int-st">
                        <label asp-for="ProjectInfoId" class="control-label"></label>
                        <select asp-for="ProjectInfoId" class="form-control" asp-items="ViewBag.ProjectInfoId">
                            <option value="">Select A Project</option>
                        </select>



                    </div>
                    </div>
                    <span asp-validation-for="ProjectInfoId" class="text-danger"></span>
                    </div>
                <div class="form-example-int row">
                    <div class="form-group  col-xs-4">

                        <div class="nk-int-st">
                            <label asp-for="TaskId" class="control-label"></label>
                            <select asp-for="TaskId" class="form-control">
                                <option value=""> Select A Task</option>
                            </select>



                        </div>
                        </div>
                        <span asp-validation-for="TaskId" class="text-danger"></span>
                    </div><div class="form-example-int">
                    <div class="form-group">

                       
                        <div class="nk-int-st">
                            <label asp-for="Commentdetails"></label>
                            <input asp-for="Commentdetails" class="form-control input-sm" placeholder="Commentdetails">

                        </div>
                        <span asp-validation-for="Commentdetails" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-example-int mg-t-15">
                    <button type="submit" class="btn btn-success notika-btn-success">Submit</button>
                </div>
            </div>

        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
    <script asp-append-version="true">
        $(document).ready(function () {
            $("#ProjectInfoId").change(function () {
                $("#TaskId").empty();
                var projectInfoId = $("#ProjectInfoId").val();
                /**/
                $.getJSON({ url: "/Project/GetTaskByProjectId" },
                    /**/
                    { id: projectInfoId },
                    function (data) {
                        $("#TaskId").append('<option value="">--Select a Task--</option>');
                        $.each(data,
                            function (key, value) {

                                $("#TaskId").append('<option value="'+value.id+'">'+value.description+'</option>');
                            });


                    });
            });

        });
    </script>
}
