@model ProjectManagementSystem.Models.Task
@inject IProjectUsersRepo ProjectUsersRepo



@{
    ViewData["Title"] = "CreateTask";
    var userId = ViewBag.GetUserId;
    var projecid = ViewBag.Projectid;
}
@section Style
    {
    <link href="~/css/bootstrap-select/bootstrap-select.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/datapicker/datepicker3.css" rel="stylesheet" asp-append-version="true" />
}



@if (ProjectUsersRepo.IsAssigned(userId, projecid))
{
    <h3 style="margin-left:610px;color:#9C27B0">Create Task</h3>

    <form asp-action="CreateTask">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="form-example-wrap">
                    <div class="bootstrap-select fm-cmp-mg ">
                        <label asp-for="ApplicationUsersId" class="control-label"></label>
                        <select asp-for="ApplicationUsersId" class="selectpicker" asp-items="ViewBag.ApplicationUserId">
                            <option value="">Select A Resource Person</option>
                        </select>

                    </div>
                    <span asp-validation-for="ApplicationUsersId" class="text-danger"></span>
                    <div class="bootstrap-select fm-cmp-mg ">
                        <label asp-for="ProjectinfoId" class="control-label"></label>
                        <select asp-for="ProjectinfoId" class="selectpicker" asp-items="ViewBag.ProjectinfoId">
                            <option value=""> Select A Project</option>
                        </select>

                    </div>
                    <span asp-validation-for="ProjectinfoId" class="text-danger"></span>
                    <div class="form-example-int">
                        <div class="form-group">

                            <label asp-for="Description"></label>
                            <div class="nk-int-st">
                                <input asp-for="Description" class="form-control input-sm" placeholder="Name">

                            </div>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-example-int">
                        <div class="form-group">

                            <label asp-for="DueDate"></label>
                            <div class="nk-int-st">
                                <input asp-for="DueDate" class="form-control input-sm" placeholder="Due Date">

                            </div>
                            <span asp-validation-for="DueDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Priority" class="control-label"></label>
                        <input type="radio" asp-for="Priority" value="High" />High
                        <input type="radio" asp-for="Priority" value="Medium" />Medium
                        <input type="radio" asp-for="Priority" value="Low" />Low
                        <span asp-validation-for="Priority" class="text-danger"></span>
                    </div>
                    <div class="form-example-int mg-t-15">
                        <button type="submit" class="btn btn-success notika-btn-success">Submit</button>
                    </div>
                </div>

            </div>
        </div>
    </form>

}
else
{
    <h1>You cannot create any task you are not this project team member</h1>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/bootstrap-select/bootstrap-select.js" asp-append-version="true"></script>
    <script src="~/js/datapicker/bootstrap-datepicker.js"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $("#DueDate").datepicker({
                changeMonth: true,
                changeYear: true,
                firstDay: 1,
                dateFormat: 'dd/mm/yy',
                showButtonPanel: true
            });

            $("#DueDate").datepicker({ dateFormat: 'dd-mm-yy' });


        });
    </script>
}
